:root {
  --green: #7ac58d;
  --dark: #1f2933;
  --muted: #6b7280;
  --bg: #f5f5f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F1EBE4;
  color: var(--dark);

}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(135, 130, 110, 0.50);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #e5e7eb;
  z-index: 1000;
}

.nav {
  max-width: 1200px;
  margin: auto;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 36px;       /* adjust size */
  width: auto;
  display: block;
}

.logo span {
  color: var(--green);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 28px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
}

.btn {
  padding: 8px 18px;
  border-radius: 999px;
  background: var(--green);
  color: white;
  font-weight: 600;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2000;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  animation: modalPop 0.3s ease;
}

@keyframes modalPop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 18px;
  font-size: 24px;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.file-label {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.file-label input[type="file"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px dashed #ccc;
  cursor: pointer;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield; 
  -moz-appearance: textfield;
}


/* HERO */
.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
    url("city view.jpg")
    center / cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 700px;
  padding-right: 250px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  max-width: 800px;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(20px);
  animation: heroTitle 1s ease-out forwards;
  animation-delay: 0.4s;
  
}

@keyframes heroTitle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CONTENT */
.content {
  max-width: 1200px;
  margin: auto;
  padding: 80px 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 32px;
}

.card {
  background: white;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.card h3 {
  margin-bottom: 12px;
}

.card p {
  color: var(--muted);
  font-size: 14px;
  line-height: 1.6;
}

.pageone{
    width: 1024px;
    margin: 0 auto;
    padding: 0 32px;
    margin-bottom: 10px;
    min-width: 1024px;
}

.content{
    background: url("slash-bg.png");
    background-repeat: repeat;
    background-position: center top;
    background-size: auto;
    padding: 20px 0;
    border-top: 1px solid #d7d5d5;
    border-bottom: 1px solid #d7d5d5;
    margin-top: 100px;
    min-width: 1024px;
    min-height: 135px;
}

/* FOOTER */
footer {
  background: #111827;
  color: #d1d5db;
  text-align: center;
  padding: 30px 20px;
  font-size: 14px;
}

/* MOBILE */
@media (max-width: 768px) {
  nav ul li:not(:last-child) {
    display: none;
  }
}
